/* font-family: 'Anton', sans-serif; */
/* font-family: 'Kanit', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: blue;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 16px;
}

.wrap {
  width: 90%;
}

.widget {
  width: 60%;
  height: auto;
  margin: auto;
}

.widget p {
  display: inline-block;
  line-height: 1em;
}

.fecha {
  font-family: "Kanit", sans-serif;
  text-align: center;
  font-size: 1.5 em;
  margin-bottom: 0.3125rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
}

.reloj {
  font-family: "Kanit", sans-serif;
  text-align: center;
  font-size: 4em;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
}

.reloj .caja-segundos {
  display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
  font-size: 2rem;
  display: inline-block;
}
